{% extends 'base.html.twig' %}

{% block title %}Edit JourFerie{% endblock %}

{% block body %}
	<div class="login-container py-4">
		<section class="container my-5" style="max-width: 600px; margin: 0 auto; padding: 10px; background-color:; border-radius: 25px; box-shadow: 0 4px 8px #83a697(146, 85, 62, 0.3);">
			<div class="row mb-4">
				<div class="col">
                 <h1 class=" mb-4 mt-2 text-center" >Edit JourFerie</h1>

                    {{ include('jour_ferie/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('app_jour_ferie_index') }}">back to list</a>

                    {{ include('jour_ferie/_delete_form.html.twig') }}

			
            
                </div>
			</div>
		</section>
	</div>
{% endblock %}
