{% extends 'base.html.twig' %}

{% block title %}JourFerie
{% endblock %}

{% block body %}
	<h1>JourFerie</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ jour_ferie.id }}</td>
			</tr>

			<tr>
				<th>DateJourFerie</th>
				<td>{{ jour_ferie.dateJourFerie ? jour_ferie.dateJourFerie|date('Y-m-d') : '' }}</td>
			</tr>

			<tr>
				<th>Nom</th>
				<td>{{ jour_ferie.nom }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_jour_ferie_index') }}">back to list</a>


{% endblock %}
