
{% extends 'base.html.twig' %}

{% block title %}Edit Formation{% endblock %}

{% block body %}
<div class="container mt-5">
	<h1 class="mb-4 text-center">Modifier Formation</h1>

	{{ include('admin/formation/_form.html.twig', {
		form: form,
		button_label: 'Mettre à jour',
		formation: formation
	}) }}
</div>
{% endblock %}













{#{% extends 'base.html.twig' %}

{% block title %}Edit Formation
{% endblock %}

{% block body %}
<div class="container mt-5">
	<h1 class="mb-4 text-center">Modifier Formation</h1>
	{{ include('admin/formation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


<div class="mt-3 d-flex justify-content-between">#}



{# 
	<a href="{{ path('app_formation_index') }}" class="btn btn-primary">Back to list</a> #}

	{#{{ include('admin/formation/_delete_form.html.twig') }}
  </div>
  </div>
{% endblock %}#}
