{% extends 'base.html.twig' %}

{% block title %}Modifier une période en entreprise{% endblock %}

{% block body %}

<div class="container mt-5">
	<h1 class="mb-4 text-center">Mettre à jour Utilisateurs</h1>
{{ include('admin/utilisateurs/_form.html.twig', {
    form: form,
    button_label: 'Mettre à jour',
   utilisateur: utilisateur
}) }}

</div>

{% endblock %}


{# {% extends 'base.html.twig' %}

{% block title %}Edit Utilisateurs
{% endblock %}

{% block body %}
	<h1>Edit Utilisateurs</h1>

	{{ include('admin/utilisateurs/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_utilisateurs_index') }}">back to list</a>

	{{ include('admin/utilisateurs/_delete_form.html.twig') }}
{% endblock %} #}


