{% extends 'base.html.twig' %}

{% block title %}Edit Interruption{% endblock %}

{% block body %}
<div class="container mt-5">
	<h1 class="mb-4 text-center">Mettre à jour</h1>
{{ include('interruption/_form.html.twig', {
    form: form,
    button_label: 'Mettre à jour',
   interruption: interruption
}) }}

</div>

{% endblock %}

    {# <h1 class="text-center mb-4 mt-5">Interruption d'édition</h1>

    {{ include('interruption/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('app_interruption_index') }}">back to list</a> #}
{# {{ include('interruption/_delete_form.html.twig', { 'button_label': 'Delete', 'button_attr': {'class': 'btn btn-danger'} }) }}

{% endblock %}  #}
