
									/*toutes ces propriétés de css pour la planification*/
                  
                  body,
                    	html{
											margin: 0;
											padding: 0;
											height: 100%;
											overflow: hidden; /* évite scroll inutiles */
											font-family: Arial, Helvetica, sans-serif;
                       }
								
										 .container-fluid {
											height: 100vh;
											display: flex;
											flex-direction: column;
											padding: 4;
                      } 
								
                   /*this is height of scroll body*/
										.gantt-scroll-wrapper {
											overflow: hidden; /* on gère manuellement le scroll via JS */
											cursor: grab;
											height: 800px;
											user-select: none;
								
										}
								
										.gantt-scroll-wrapper:active {
											cursor: grabbing;
										}
								
										.gantt-scroll-inner {
                      width: 0;
											/*min-width: {{total_days * day_width}}
											px;*/
										}
								
										.gantt-scroll-wrapper {
											width: 100%;
											overflow-x: auto;
										}
								
								
										.gantt-scroll-wrapper {
											width: 100%;
											overflow-x: auto;
										}
										.gantt-header {
											position: sticky;
											top: 0;
											background: white;
											z-index: 50;
											box-shadow: 0 2px 4px rgba(228, 221, 221, 0.1);
											font-family: Arial, Helvetica, sans-serif;
										}
								
										.timeline-row {
											display: flex;
											height: 25px;
											line-height: 25px;
											white-space: nowrap;
											border-bottom: 1px solid #ccc;
											font-family: Arial, Helvetica, sans-serif;
										}
								
										.year-column,
										.month-column,
										.week-column {
											display: flex;
											justify-content: center;
											align-items: center;
											border-right: 1px solid black;
											font-size: 12px;
											background: #fff;
											border-bottom: 1px solid black;
											font-family: Arial, Helvetica, sans-serif;
										}
										.total-stagiaires-column {
											display: flex;
											align-items: left;
											justify-content: left;
											border-right: 1px solid black;
											font-size: 12px;
											background: #fff;
								
										}
								
										.active-stagiaires-column {
											display: flex;
											align-items: left;
											justify-content: left;
											border-right: 1px solid black;
											font-size: 12px;
											background: #fff;
											color: green;
										}
								
								
										.year-column {
											font-weight: bold;
											color: black;
											font-size: 20px;
								
											background-color: rgb(171, 181, 190); /*#e2e6ea*/
										}
								
										.formation-name {
											position: sticky;
											left: 0;
											background: white;
											width: 5px;
											border-right: 1px solid #ccc;
											font-weight: bold;
											padding-left: 5px;
											z-index: 5;
								
										}
								
										.gantt-scroll-body {
											overflow-y: auto;
											max-height: calc(100vh - 200px); /* ajuste si ton header fait +/– */
										}
								
										.gantt-row {
											display: flex;
											margin-bottom: 5px;
										}
								
										.timeline-area {
											position: relative;
											height: 2px;
										}
								
										.formation-bar {
											position: absolute;
											height: 30px;
											background: #4e73df;
											color: white;
											top: 50px;
											font-size: 12px;
											padding-left: 2px;
											border-radius: 0;
											z-index: 1;
											display: flex;
											text-overflow: ellipsis;
											align-items: center;
											font-family: Arial, Helvetica, sans-serif;
										}
								
										.entreprise-period {
											position: absolute;
											top: 50px;
											height: 30px;
											background-color: rgb(17, 139, 72);
											border-radius: 0;
											z-index: 2;
											opacity: 0.8;
											color: white;
											font-family: Arial, Helvetica, sans-serif;
								      align-items: center;
										  display: flex; /*this one put text at center*/
								      font-size:12px;
										}
								
								    .validation-bar{
								      position: absolute;
								      top:50px;
								      height: 30px;
								      z-index: 2;
								      opacity: 0.8;
								       background-color: #dc3545;  
								       color: white; 
								       display: flex; 
								       align-items: center; 
								       font-size: 12px; 
								       padding-left: 3px;
								      
								    }


                  .formation-bar .interruption {
                    position: absolute;
                    top: 00px;
                    height: 30px;
                    background-color: #F64F00;
                    opacity: 0.8;
                    z-index: 3;
                  }

                  .vertical-column .interruption {
                    position: relative;
                    height: 100vh;
                    width: 200px;
                    background-color: #F64F00;
                    opacity: 0.3;
                    z-index: 2;
                  }


                   	.holiday-marker {
											position: absolute;
											top: 0;
											width: 5px;
											height: 100vh;
											background: rgb(192, 45, 50);
											z-index: 1;
											pointer-events: none; /* Allow clicking through them */
                       
										}

                    .holiday-row{
                      position: sticky;
                      top:0;
                      z-index: 10;
                      height:700px;
                      background: white;
                    }
                 
								
								
										.today-marker {
											position: absolute;
											top: 0;
											width: 4px;
											height: 100vh;
											background: green;
											z-index: 10;
										}
								
										/*pour masquer le soulignement d'un lien hypertexte, utiliser cette propriété*/
										a {
											text-decoration: none;
										}
								
										.grid-line {
											position: absolute;
											top: 0;
											width: 8px;
											height: 100vh;
											background: #cbcbcb; /*  rgba(0, 0, 0, 0.1); light gray line */
											z-index: 0; /* behind other elements */
											pointer-events: none; /* clickable elements still work */
										}

                    /* la fin de la planification*/
                    
/* table utilisateurs*/
.table-hover tbody tr:hover {
		background-color: #f0f8ff;
		transition: background-color 0.3s;
	}